# Terraform local state and caches
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example

# Crash log files
crash.log
crash.*.log

# Exclude all .env files
.env
.env.*

# CLI configuration files
.terraformrc
terraform.rc
